header{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
}
body{
    margin: 0;
    background-image: url(../imgsite/design-background-qwq0y5ay5j8lw2ds.jpg);
    background-size: cover;
}
#osef{
    height: 20vh;
}
#formAdd{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    border: solid 1px white;
    width: fit-content;
}